@font-face {
    font-family: 'Clan Pro'; 
font-display: swap;
    font-style: normal;
    font-weight: 450;
    src: local('Clan Pro'), url('/assets/fonts/clan-pro/FFClanProRegular.woff') format('woff');
}
@font-face {
    font-family: 'Clan Pro'; 
font-display: swap;
    font-style: normal;
    font-weight: 250;
    src: local('Clan Pro'), url('/assets/fonts/clan-pro/FFClanProThin.woff') format('woff');
}
@font-face {
    font-family: 'Clan Pro'; 
font-display: swap;
    font-style: italic;
    font-weight: 250;
    src: local('Clan Pro'), url('/assets/fonts/clan-pro/FFClanProThinIt.woff') format('woff');
}
@font-face {
    font-family: 'Clan Pro'; 
font-display: swap;
    font-style: italic;
    font-weight: 450;
    src: local('Clan Pro'), url('/assets/fonts/clan-pro/FFClanProItalic.woff') format('woff');
}
@font-face {
    font-family: 'Clan Pro'; 
font-display: swap;
    font-style: normal;
    font-weight: 475;
    src: local('Clan Pro'), url('/assets/fonts/clan-pro/FFClanProCondRgNews.woff') format('woff');
}
@font-face {
    font-family: 'Clan Pro'; 
font-display: swap;
    font-style: normal;
    font-weight: 475;
    src: local('Clan Pro'), url('/assets/fonts/clan-pro/FFClanProRgNarNews.woff') format('woff');
}
@font-face {
    font-family: 'Clan Pro'; 
font-display: swap;
    font-style: normal;
    font-weight: 475;
    src: local('Clan Pro'), url('/assets/fonts/clan-pro/FFClanProRgNews.woff') format('woff');
}
@font-face {
    font-family: 'Clan Pro'; 
font-display: swap;
    font-style: italic;
    font-weight: 475;
    src: local('Clan Pro'), url('/assets/fonts/clan-pro/FFClanProCondRgItNews.woff') format('woff');
}
@font-face {
    font-family: 'Clan Pro'; 
font-display: swap;
    font-style: italic;
    font-weight: 475;
    src: local('Clan Pro'), url('/assets/fonts/clan-pro/FFClanProRgItNarNews.woff') format('woff');
}
@font-face {
    font-family: 'Clan Pro'; 
font-display: swap;
    font-style: italic;
    font-weight: 475;
    src: local('Clan Pro'), url('/assets/fonts/clan-pro/FFClanProRgItNews.woff') format('woff');
}
@font-face {
    font-family: 'Clan Pro'; 
font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: local('Clan Pro'), url('/assets/fonts/clan-pro/FFClanProMedium.woff') format('woff');
}
@font-face {
    font-family: 'Clan Pro'; 
font-display: swap;
    font-style: italic;
    font-weight: 500;
    src: local('Clan Pro'), url('/assets/fonts/clan-pro/FFClanProMediumIt.woff') format('woff');
}
@font-face {
    font-family: 'Clan Pro'; 
font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: local('Clan Pro'), url('/assets/fonts/clan-pro/FFClanProBold.woff') format('woff');
}
@font-face {
    font-family: 'Clan Pro'; 
font-display: swap;
    font-style: italic;
    font-weight: 700;
    src: local('Clan Pro'), url('/assets/fonts/clan-pro/FFClanProBoldIt.woff') format('woff');
}
@font-face {
    font-family: 'Clan Pro'; 
font-display: swap;
    font-style: normal;
    font-weight: 900;
    src: local('Clan Pro'), url('/assets/fonts/clan-pro/FFClanProBlk.woff') format('woff');
}
@font-face {
    font-family: 'Clan Pro'; 
font-display: swap;
    font-style: italic;
    font-weight: 900;
    src: local('Clan Pro'), url('/assets/fonts/clan-pro/FFClanProBlkIt.woff') format('woff');
}
@font-face {
    font-family: 'Clan Pro'; 
font-display: swap;
    font-style: normal;
    font-weight: 950;
    src: local('Clan Pro'), url('/assets/fonts/clan-pro/FFClanProUltra.woff') format('woff');
}
@font-face {
    font-family: 'Clan Pro'; 
font-display: swap;
    font-style: italic;
    font-weight: 950;
    src: local('Clan Pro'), url('/assets/fonts/clan-pro/FFClanProUltIt.woff') format('woff');
}

