@media (min-width: 991px) and (max-width: 1200px) {
  header .logo {
    text-align: center;
  }

  .banner {
    padding-bottom: 30px;
  }
  .banner .content .main-title {
    font-size: 55px;
  }
}
@media (max-width: 991px) {
  header .logo {
    text-align: center;
  }
  header .navbar .navbar-nav {
    margin-top: 30px;
    margin-bottom: 30px !important;
    border-bottom: 1px solid #ffffff;
  }
  header .navbar .navbar-nav .nav-item .nav-link {
    color: #ffffff;
    box-shadow: 1px 4px 7px 0 rgba(0, 0, 0, 0.1);
    margin-right: 0;
    text-align: right;
    margin-bottom: 20px;
  }
  header .navbar .navbar-nav .nav-item .nav-link:hover, header .navbar .navbar-nav .nav-item .nav-link.active {
    background-color: #834545;
  }
  header .navbar .social-media ul {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: end;
  }
  header .navbar .social-media ul li {
    margin-bottom: 30px;
    flex: 0 0 auto;
    width: 15%;
    text-align: end;
  }
  header .navbar .social-media ul li a {
    position: relative;
    padding-right: 20px;
    color: #ffffff;
  }
  header .navbar .social-media ul li a.facebook:before {
    content: url("/assets/images/icons/facebook.svg");
  }
  header .navbar .social-media ul li a.twitter:before {
    content: url("/assets/images/icons/twitter.svg");
  }
  header .navbar .social-media ul li a.instagram:before {
    content: url("/assets/images/icons/instagram.svg");
  }
  header .navbar .social-media ul li a.youtube:before {
    content: url("/assets/images/icons/youtube.svg");
  }
  header .navbar .navbar-toggler {
    border: none;
  }
  header .navbar .navbar-toggler:focus {
    box-shadow: none;
  }
  header .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("/assets/images/icons/menu-bar-close.svg");
  }
  header .navbar .navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url("/assets/images/icons/menu-bar.svg");
  }
  header .navbar .navbar-collapse {
    position: absolute;
    width: 100%;
    background-color: #6E3A3A;
    top: 81px;
    left: 0;
    border-radius: 0px 0px 5px 5px;
    opacity: 0.9;
    box-shadow: 0px 11px 18px 0px rgba(110, 58, 58, 0.76);
  }

  .banner {
    padding-bottom: 30px;
  }
  .banner .carousel-inner .carousel-item {
    height: auto;
  }
  .banner .content .main-title {
    font-size: 40px;
  }

  .short-content {
    padding: 0;
  }
  .short-content .item {
    margin-bottom: 0;
  }
  .short-content .item .content {
    align-self: center;
    margin-top: 50px;
  }
  .short-content .item .content .main-title {
    font-family: "DM Serif Display", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 117.1%;
    margin-bottom: 10px;
  }

  .button-border {
    width: 50%;
  }

  .pearls .main-title {
    font-size: 30px;
    text-align: center;
  }
  .pearls .line {
    width: 70%;
  }
  .pearls .line:after {
    right: -87%;
  }
  .pearls .sub-title {
    margin-top: 60px;
  }

  .contents .item .number {
    font-size: 100px;
  }
}

/*# sourceMappingURL=responsive.css.map */
