@import "variables";


@media (min-width: 991px) and (max-width: 1200px)
{
   header
   {
      .logo
      {
         text-align: center;
      }
   }

   .banner
   {
      padding-bottom: 30px;

      .content
      {
         .main-title
         {
            font-size: 55px;
         }
      }
   }
}

@media (max-width: 991px)
{
   header
   {
      .logo
      {
         text-align: center;
      }

      .navbar
      {
         .navbar-nav
         {
            margin-top: 30px;
            margin-bottom: 30px !important;
            border-bottom: 1px solid $white;

            .nav-item
            {
               .nav-link
               {
                  color: $white;
                  box-shadow: 1px 4px 7px 0 rgba(0, 0, 0, 0.10);
                  margin-right: 0;
                  text-align: right;
                  margin-bottom: 20px;

                  &:hover,&.active
                  {
                     background-color: $primaryColorHover;
                  }
               }
            }
         }

         .social-media
         {
            ul
            {
               display: flex !important;
               flex-wrap: wrap;
               justify-content: end;

               li
               {
                  margin-bottom: 30px;
                  flex: 0 0 auto;
                  width: 15%;
                  text-align: end;

                  a
                  {
                     position: relative;
                     padding-right: 20px;
                     color: $white;

                     &.facebook:before
                     {
                        content: url("/assets/images/icons/facebook.svg");
                     }

                     &.twitter:before
                     {
                        content: url("/assets/images/icons/twitter.svg");
                     }

                     &.instagram:before
                     {
                        content: url("/assets/images/icons/instagram.svg");
                     }

                     &.youtube:before
                     {
                        content: url("/assets/images/icons/youtube.svg");
                     }
                  }
               }
            }
         }

         .navbar-toggler
         {
            border:none;

            &:focus
            {
               box-shadow: none;
            }

            .navbar-toggler-icon
            {
               background-image: url("/assets/images/icons/menu-bar-close.svg");
            }

            &.collapsed
            {
               .navbar-toggler-icon
               {
                  background-image: url("/assets/images/icons/menu-bar.svg");
               }
            }
         }

         .navbar-collapse
         {
            position: absolute;
            width: 100%;
            background-color: $primaryColor;
            top: 81px;
            left: 0;
            border-radius: 0px 0px 5px 5px;
            opacity: 0.9;
            box-shadow: 0px 11px 18px 0px rgba(110, 58, 58, 0.76);
         }
      }
   }

   .banner
   {
      padding-bottom: 30px;

      .carousel-inner
      {
         .carousel-item
         {
            height: auto;
         }
      }

      .content
      {
         .main-title
         {
            font-size: 40px;
         }
      }

   }

   .short-content
   {
      padding: 0;

      .item
      {
         margin-bottom: 0;

         .content
         {
            align-self: center;
            margin-top: 50px;

            .main-title
            {
               font-family: $fontTwo;
               font-size: 40px;
               font-style: normal;
               font-weight: 400;
               line-height: 117.1%;
               margin-bottom: 10px;
            }
         }
      }
   }

   .button-border
   {
      width: 50%;
   }

   .pearls
   {
      .main-title
      {
         font-size: 30px;
         text-align: center;
      }

      .line
      {
         width: 70%;

         &:after
         {
            right: -87%;
         }
      }

      .sub-title
      {
         margin-top: 60px;
      }
   }

   .contents
   {
      .item
      {
         .number
         {
            font-size: 100px;
         }
      }
   }
}