@import "clan-pro.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Clan Pro", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #ffffff !important;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  background-image: url("/assets/images/motif1.webp");
  color: #6E3A3A;
}

p {
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
}

header {
  background-color: #6E3A3A;
  padding: 17px 0;
}
header .navbar .navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
header .navbar .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  box-shadow: 1px 4px 7px 0 rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  padding: 25px 20px;
}
header .navbar .navbar-nav .nav-item .nav-link:hover, header .navbar .navbar-nav .nav-item .nav-link.active {
  background-color: #834545;
  transition: 0.2s;
}

.bg-primary-color-two {
  background-color: #EADCAA;
  background-image: url("/assets/images/motif1.webp");
}

.subtitle {
  font-size: 20px !important;
  font-style: italic;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 10px;
}

.mainTitle {
  color: #6E3A3A;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 46.84px;
}

.fontTwo {
  font-family: "DM Serif Display", serif;
}

.banner {
  padding: 70px 0;
}
.banner .carousel-inner .carousel-item {
  min-height: 500px;
}
.banner .carousel-inner .carousel-item img {
  object-fit: cover;
  object-position: left top;
}
.banner .carousel-control-next, .banner .carousel-control-prev {
  width: 6%;
}
.banner .carousel-control-next-icon {
  background-image: url("/assets/images/icons/right.svg");
}
.banner .carousel-control-prev-icon {
  background-image: url("/assets/images/icons/left.svg");
}
.banner .content {
  align-self: center;
}
.banner .content .main-title {
  font-family: "DM Serif Display", serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 117.1%;
}
.banner .content .summary {
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 160%;
}

.button-background {
  padding: 10px 50px 10px 35px;
  text-align: center;
  border-radius: 43px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.45px;
  position: relative;
  transition: 0.2s;
  background-color: #6E3A3A;
  color: #ffffff;
  display: inline-block;
  border: 1px solid #6E3A3A;
}
.button-background:after {
  content: "";
  background-image: url("/assets/images/arrow-right-white.svg");
  width: 24px !important;
  height: 24px !important;
  position: absolute;
  top: 12px;
  right: 20px;
}
.button-background:hover {
  background-color: white;
  color: #6E3A3A;
  transition: 0.2s;
}
.button-background:hover:after {
  background-image: url("/assets/images/arrow-right.svg");
}

.button-border {
  padding: 10px 50px 10px 35px;
  text-align: center;
  border-radius: 43px;
  border: 1px solid #6E3A3A;
  color: #6E3A3A;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.45px;
  position: relative;
  transition: 0.2s;
  display: inline-block;
  min-width: 168px;
  height: 49px;
}
.button-border:after {
  content: "";
  background-image: url("/assets/images/arrow-right.svg");
  width: 24px !important;
  height: 24px !important;
  position: absolute;
  top: 12px;
  right: 20px;
}
.button-border:hover {
  background-color: #6E3A3A;
  color: #ffffff;
  transition: 0.2s;
}
.button-border:hover:after {
  background-image: url("/assets/images/arrow-right-white.svg");
}

.circle {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(295deg, rgba(205, 205, 205, 0.37) 0%, rgba(255, 255, 255, 0) 100%);
}

.short-content {
  padding: 70px 0;
  align-self: center;
}
.short-content .item {
  margin-bottom: 70px;
}
.short-content .item .image {
  align-self: center;
  display: flex;
}
.short-content .item .image img {
  width: 100%;
  object-fit: cover;
}
.short-content .item .content {
  align-self: center;
}
.short-content .item .content .main-title {
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 117.1%;
  margin-bottom: 10px;
}

.white-banner {
  background-color: #ffffff;
  height: 63px;
  width: 100%;
}

.pearls .line {
  width: 44%;
  height: 2px;
  background-color: #6E3A3A;
}
.pearls .line:before {
  content: url("/assets/images/motif-title-bottom.svg");
  display: inline-block;
  position: relative;
  left: -49px;
  top: -11px;
}
.pearls .line:after {
  content: url("/assets/images/motif-title-bottom.svg");
  display: inline-block;
  position: relative;
  right: -95%;
  top: -11px;
  rotate: 180deg;
  transform: scale(1, -1);
}
.pearls .main-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "DM Serif Display", serif;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}
.pearls .sub-title {
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
  display: block;
  margin-top: 30px;
  text-align: center;
}
.pearls .pearl {
  border-radius: 46px;
  background: #FFF;
  box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.15);
  font-size: 20px;
  font-style: italic;
  padding: 30px;
  line-height: 32px;
  font-weight: 500;
  min-height: 450px;
  margin-top: 40px;
}

.biography {
  padding-top: 40px;
  padding-bottom: 40px;
}
.biography .sub-title {
  font-size: 17px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}
.biography .main-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 44.7px;
}
.biography .avatar {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

footer {
  background-color: #4b1111d4;
  background-image: url("/assets/images/motif1.webp");
  margin-top: 100px;
  padding: 50px 0;
}
footer .logo {
  margin-bottom: 20px;
}
footer .logo img {
  height: 50px;
  width: auto;
}
footer p, footer hr {
  color: #ffffff;
}
footer .copyright {
  font-size: 15.773px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 50px;
}
footer .menu .title {
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}
footer .menu ul {
  list-style: none;
}
footer .menu ul li {
  margin-bottom: 30px;
}
footer .menu ul li a {
  color: #ffffff;
  line-height: normal;
}
footer .menu.social-media ul li a {
  position: relative;
  padding-left: 50px;
}
footer .menu.social-media ul li a.facebook:before {
  content: url("/assets/images/icons/facebook.svg");
  position: absolute;
  left: 0;
  top: -5px;
}
footer .menu.social-media ul li a.twitter:before {
  content: url("/assets/images/icons/twitter.svg");
  position: absolute;
  left: 0;
  top: -5px;
}
footer .menu.social-media ul li a.instagram:before {
  content: url("/assets/images/icons/instagram.svg");
  position: absolute;
  left: 0;
  top: -5px;
}
footer .menu.social-media ul li a.youtube:before {
  content: url("/assets/images/icons/youtube.svg");
  position: absolute;
  left: 0;
  top: -5px;
}

.ellipse {
  background: linear-gradient(295deg, rgba(205, 205, 205, 0.37) 0%, rgba(255, 255, 255, 0) 100%);
}

.contents {
  padding-top: 40px;
  font-size: 18px;
}
.contents .item {
  margin-bottom: 60px;
}
.contents .item .number {
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 165px;
  opacity: 0.1;
  padding-top: 25px;
}
.contents .item .title {
  font-family: "DM Serif Display", serif;
  font-size: 33.455px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.836px;
  margin-bottom: 10px;
}

.contact {
  padding-top: 50px;
}
.contact .image {
  width: 100%;
  height: auto;
}
.contact .mainTitle {
  text-align: left;
  margin-bottom: 20px;
}

.form-control {
  border-radius: 0;
  margin-bottom: 20px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(110, 58, 58, 0.2);
  color: #6E3A3A;
  height: 60px;
}
.form-control:hover, .form-control:focus, .form-control:active {
  box-shadow: 0px 0px 10px -2px #4b1111d4;
  border: 1px solid #4b1111d4;
}

textarea {
  height: auto !important;
}

.invalid-feedback {
  margin-bottom: 20px;
  font-weight: 500;
}

.loadingGif {
  height: 50px;
}

#formAlert p {
  font-size: 14px;
}

.grecaptcha-badge {
  display: none;
}

/*# sourceMappingURL=style.css.map */
