@import "clan-pro.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import "variables";
@import "reset";

body
{
   background-image: url("/assets/images/motif1.webp");
   color: $primaryColor;
}


p
{
   font-size: 18px;
   font-style: normal;
   line-height: 28px;
}

header
{
   background-color: $primaryColor;
   padding: 17px 0;

   .navbar
   {
      .navbar-nav
      {
         margin-left: auto;
         margin-right: 0 !important;

         .nav-item
         {
            .nav-link
            {
               color: $white;
               box-shadow: 1px 4px 7px 0 rgba(0, 0, 0, 0.10);
               margin-right: 10px;
               font-size: 16px;
               font-weight: 500;
               padding: 25px 20px;

               &:hover,&.active
               {
                  background-color: $primaryColorHover;
                  transition: .2s;
               }
            }
         }
      }
   }
}

.bg-primary-color-two
{
   background-color: $primaryColorTwo;
   background-image: url("/assets/images/motif1.webp");
}

.subtitle
{
   font-size: 20px !important;
   font-style: italic;
   font-weight: 400;
   line-height: 160%;
   margin-bottom: 10px;
}

.mainTitle
{
   color: $primaryColor;
   text-align: center;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: 46.84px;
}

.fontTwo
{
   font-family: $fontTwo;
}

.banner
{
   padding: 70px 0;

   .carousel-inner
   {
      .carousel-item
      {
         min-height: 500px;

         img
         {
            object-fit: cover;
            object-position: left top;
         }
      }
   }

   .carousel-control-next, .carousel-control-prev
   {
      width: 6%;
   }

   .carousel-control-next-icon
   {
      background-image : url("/assets/images/icons/right.svg");
   }

   .carousel-control-prev-icon
   {
      background-image : url("/assets/images/icons/left.svg");
   }

   .content
   {
      align-self: center;

      .main-title
      {
         font-family: $fontTwo;
         font-size: 65px;
         font-style: normal;
         font-weight: 400;
         line-height: 117.1%;
      }

      .summary
      {
         font-size: 18px;
         font-style: normal;
         font-weight: 450;
         line-height: 160%;
      }

   }
}

.button-background
{
   padding: 10px 50px 10px 35px;
   text-align: center;
   border-radius: 43px;
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 27px;
   letter-spacing: 0.45px;
   position: relative;
   transition: .2s;
   background-color: $primaryColor;
   color: $white;
   display: inline-block;
   border: 1px solid $primaryColor;

   &:after
   {
      content: '';
      background-image: url("/assets/images/arrow-right-white.svg");
      width: 24px !important;
      height: 24px !important;
      position: absolute;
      top: 12px;
      right: 20px;
   }

   &:hover
   {
      background-color: white;
      color: $primaryColor;
      transition: .2s;

      &:after
      {
         background-image: url("/assets/images/arrow-right.svg");
      }
   }
}

.button-border
{
   padding: 10px 50px 10px 35px;
   text-align: center;
   border-radius: 43px;
   border: 1px solid $primaryColor;
   color: $primaryColor;
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 27px;
   letter-spacing: 0.45px;
   position: relative;
   transition: .2s;
   display: inline-block;
   min-width: 168px;
   height: 49px;

   &:after
   {
      content: '';
      background-image: url("/assets/images/arrow-right.svg");
      width: 24px !important;
      height: 24px !important;
      position: absolute;
      top: 12px;
      right: 20px;
   }

   &:hover
   {
      background-color: $primaryColor;
      color: $white;
      transition: .2s;

      &:after
      {
         background-image: url("/assets/images/arrow-right-white.svg");
      }
   }
}

.circle
{
   border-radius: 100%;
   width: 100%;
   height: 100%;
   background: linear-gradient(295deg, rgba(205, 205, 205, 0.37) 0%, rgba(255, 255, 255, 0.00) 100%);
}

.short-content
{
   padding: 70px 0;
   align-self: center;

   .item
   {
      margin-bottom: 70px;

      .image
      {
         align-self: center;
         display: flex;

         img
         {
            width: 100%;
            object-fit: cover;
         }
      }

      .content
      {
         align-self: center;

         .main-title
         {
            font-family: $fontTwo;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 117.1%;
            margin-bottom: 10px;
         }
      }
   }
}

.white-banner
{
   background-color: $white;
   height: 63px;
   width: 100%;
}

.pearls
{
   .line
   {
      width: 44%;
      height: 2px;
      background-color: $primaryColor;

      &:before
      {
         content: url("/assets/images/motif-title-bottom.svg");
         display: inline-block;
         position: relative;
         left: -49px;
         top: -11px;
      }

      &:after
      {
         content: url("/assets/images/motif-title-bottom.svg");
         display: inline-block;
         position: relative;
         right: -95%;
         top: -11px;
         rotate: 180deg;
         transform: scale(1, -1);
      }
   }

   .main-title
   {
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 1px;
      font-family: $fontTwo;
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
   }

   .sub-title
   {
      font-size: 25px;
      font-style: italic;
      font-weight: 500;
      display: block;
      margin-top: 30px;
      text-align: center;
   }

   .pearl
   {
      border-radius: 46px;
      background: #FFF;
      box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.15);
      font-size: 20px;
      font-style: italic;
      padding: 30px;
      line-height: 32px;
      font-weight: 500;
      min-height: 450px;
      margin-top: 40px;
   }
}

.biography
{
   padding-top: 40px;
   padding-bottom: 40px;

   .sub-title
   {
      font-size: 17px;
      font-style: italic;
      font-weight: 500;
      line-height: normal;
   }

   .main-title
   {
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 44.7px;
   }

   .avatar
   {
      width: 300px;
      height: auto;
      margin-bottom: 20px;
   }
}

footer
{
   background-color: $primaryColorOpacity;
   background-image: url("/assets/images/motif1.webp");
   margin-top: 100px;
   padding: 50px 0;

   .logo
   {
      margin-bottom: 20px;

      img
      {
         height: 50px;
         width: auto;
      }
   }

   p,hr
   {
      color: $white;
   }

   .copyright
   {
      font-size: 15.773px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin-top: 50px;
   }

   .menu
   {
      .title
      {
         font-size: 23px;
         font-style: normal;
         font-weight: 700;
         line-height: normal;
         margin-bottom: 30px;
      }

      ul
      {
         list-style: none;

         li
         {
            margin-bottom: 30px;

            a
            {
               color: $white;
               line-height: normal;
            }
         }
      }

      &.social-media
      {
         ul
         {
            li
            {
               a
               {
                  position: relative;
                  padding-left: 50px;

                  &.facebook:before
                  {
                     content: url("/assets/images/icons/facebook.svg");
                     position: absolute;
                     left: 0;
                     top: -5px;
                  }

                  &.twitter:before
                  {
                     content: url("/assets/images/icons/twitter.svg");
                     position: absolute;
                     left: 0;
                     top: -5px;
                  }

                  &.instagram:before
                  {
                     content: url("/assets/images/icons/instagram.svg");
                     position: absolute;
                     left: 0;
                     top: -5px;
                  }

                  &.youtube:before
                  {
                     content: url("/assets/images/icons/youtube.svg");
                     position: absolute;
                     left: 0;
                     top: -5px;
                  }
               }
            }
         }
      }
   }
}

.ellipse
{
   background: linear-gradient(295deg, rgba(205, 205, 205, 0.37) 0%, rgba(255, 255, 255, 0.00) 100%);
}

.contents
{
   padding-top: 40px;
   font-size: 18px;

   .item
   {
      margin-bottom: 60px;

      .number
      {
         text-align: center;
         font-family: $fontTwo;
         font-size: 165px;
         opacity: .1;
         padding-top: 25px;
      }

      .title
      {
         font-family: $fontTwo;
         font-size: 33.455px;
         font-style: normal;
         font-weight: 400;
         letter-spacing: 0.836px;
         margin-bottom: 10px;
      }
   }
}

.contact
{
   padding-top: 50px;

   .image
   {
      width: 100%;
      height: auto;
   }

   .mainTitle
   {
      text-align: left;
      margin-bottom: 20px;
   }
}

.form-control
{
   border-radius: 0;
   margin-bottom: 20px;
   box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
   border: 1px solid rgba(110, 58, 58, 0.20);
   color: $primaryColor;
   height: 60px;

   &:hover,
   &:focus,
   &:active,
   {
      box-shadow: 0px 0px 10px -2px $primaryColorOpacity;
      border: 1px solid $primaryColorOpacity;
   }
}

textarea
{
   height: auto !important;
}

.invalid-feedback
{
   margin-bottom: 20px;
   font-weight: 500;
}

.loadingGif
{
   height: 50px;
}

#formAlert
{
   p
   {
      font-size: 14px;
   }
}

.grecaptcha-badge
{
   display: none;
}