$primaryColor        : #6E3A3A;
$primaryColorOpacity : #4b1111d4;
$primaryColorHover   : #834545;
$primaryColorTwo     : #EADCAA;
$primaryColorThree   : #EADCAA;
$white               : #ffffff;
$font                : 'Clan Pro', sans-serif;
$fontTwo             : 'DM Serif Display', serif;
